@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    #songs {
    height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
    }

    #songs::-webkit-scrollbar {
    width: 0.5em;
    }

    #songs::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    }

    #songs::-webkit-scrollbar-thumb {
    background-color: #888; 
    }
}